<p id="notice"></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>
        <a class="show_79179" href="/books/79179">Show</a>
      </td>
      <td>
        <a class="edit_79179" href="/books/79179/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_79179" rel="nofollow"
        data-method="delete" href="/books/79179">Destroy</a>
      </td>
    </tr>
  </tbody>
</table>